body { font-family: Helvetica;  background-color: #eee;}
table.sites {border-collapse: collapse; border: 1px gray solid; color: #333; width: 100%; margin-top: 20px;}
table.sites td, table.sites th {padding: 5px;border: 1px gray solid;}
table.sites thead {background-color: #ddd;}
table.sites th {font-size: 10pt;}
table.sites tbody tr:hover {background-color: #eee;}
.container {background-color: #fff; padding: 20px; padding-top: 10px; padding-bottom: 10px; margin: 0 auto; max-width: 700px; box-shadow: 0 0 5px gray;}
a {color: black; }
a:hover {color: red;}
ul.nav {margin: 0; padding: 0; list-style-type: none; text-align: center; font-size: 10pt; float: right;}
ul.nav li { display: inline;}
.nav a { color: #444;}
.nav a:hover {color: black;}
hr {color: #ccc;}
a.jslink {cursor: pointer; text-decoration: none; border-bottom: 1px black dashed;}
a.jslink:hover {color: red; border-bottom: 1px red dashed;}
li.selected {font-weight: bold;}
.bold {font-weight: bold;}
.fav {margin-right: 5px; vertical-align:middle;}

.add_no_site input {padding: 7px; background-color: #eee; border: 1px #bbb solid; border-radius: 4px; color: #000; font-family: Verdana; width: 50%; min-width: 150px;}
.add_no_site input:hover {background-color: #ffffca; color: #000; cursor: pointer;}
.add_no_site textarea {width: 100%; height: 200px; font-family: Verdana; font-size: 14pt;}
.add_no_site {width: 70%; margin: 0 auto;}
.add_no_site p{text-align: center;}

.top_groups {background-color: #eee;  padding-top: 10px; padding-bottom: 10px; margin: 0 auto;  margin-bottom: 0px; max-width:660px; border-radius: 5px 5px 0 0;}
ul.groups {margin: 0; padding: 0; list-style-type: none;  margin-top: -5px; margin-bottom: -5px;}
ul.groups li { display: inline; padding: 5px; padding-left: 10px; padding-right: 10px; margin-right: 10px;}
.groups li, .groups a { color: #444; text-decoration: none;}
.groups li:hover, .groups .selected  {color: black; background-color: white; border: 0px gray solid; border-bottom: 0; border-radius: 5px 5px 0 0; box-shadow: 0px -4px 4px 0px #ccc;}

.words li {list-style: none; margin: 0;}

.words ul {width:750px;}
.words li {width:300px; float:left;}
.words {padding-left: 30px; padding-top: 10px; padding-bottom: 20px; margin-bottom: 20px;}

a.delete_group {background-color: pink; color: #333; border: 0px gray solid; padding: 5px; padding-left: 10px; padding-right: 10px; text-decoration: none; }
a.delete_group:hover {background-color: #333; color: white;}

input.flush {color: red; background-color: white; border: 0; padding: 0;}
input.flush:hover {color: black; cursor: pointer;}

.count_sites {
	font-weight: bold;
	color: brown;
}

a.daolink {
	filter:alpha(opacity=70); ..-opacity:0.7; opacity:0.7; -khtml-opacity:0.7;
}

a.daolink:hover {
	filter:alpha(opacity=100); ..-opacity:1; opacity:1; -khtml-opacity:1;
}

a.export {background-color: #666; color: #fff; border: 0px gray solid; padding: 5px; padding-left: 10px; padding-right: 10px; text-decoration: none; margin-left: 10px; }
a.export:hover {background-color: #333;}

@media screen and (max-width: 360px) {
  .second {display: none;}
  .container {padding-left: 5px; padding-right: 5px;}
}
